body {
  // background-color: #e4e6eb;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.section-success {
  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 26px;
    color: #071C4D;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    color: #B1B1B1;
  }

  .btn-homepage {
    background-color: #071C4D;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}